<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FantaFood</title>
    <link rel="stylesheet" href="~/Content/asset/main.css">
    <link rel="stylesheet" href="~/Content/asset/OwlCarousel2-2.3.4/docs/assets/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/asset/OwlCarousel2-2.3.4/docs/assets/owlcarousel/assets/owl.theme.default.min.css">
    <script src="https://kit.fontawesome.com/502650a7cc.js" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
        
        @RenderBody()


    @*<div class="modal-add-product">
            <div class="modal-add-product-container-wrap">
                <div class="modal-add-product-container">

                    <h3 class="modal-add-product-title">Tạo mới sản phẩm</h3>
                    <i class="fa-solid fa-xmark close-icon-add close-icon"></i>

                    <form action="./add-process.php" method="post" enctype="multipart/form-data">
                        <div class="form-group-add">
                            <label for="product-add__identity" class="control-label">Mã sản phẩm</label>
                            <input class="control-input" type="number" name="masp" id="masp">
                        </div>
                        <div class="form-group-add">
                            <label for="product-add__name" class="control-label">Tên sản phẩm</label>
                            <input class="control-input" type="text" name="product-add__name" id="product-add__name">
                        </div>
                        <div class="form-group-add">
                            <label for="product-add__desc" class="control-label">Mô tả</label>
                            <textarea class="control-input" name="product-add__desc" id="product-add__desc" cols="20" rows="4"></textarea>
                        </div>
                        <div class="form-group-add">
                            <label for="product-add__price" class="control-label">Giá</label>
                            <input class="control-input" type="number" name="product-add__price" id="product-add__price">
                        </div>
                        <div class="form-group-add">
                            <label for="product-add__category" class="control-label">Loại sản phẩm</label>
                            <select class="control-input" name="product-add__category" id="product-add__category">

                            </select>
                        </div>
                        <div class="form-group-add">
                            <img src="" alt="" id="product-add__image">
                            <label class="control-label file-upload">
                                <input type="file" name="file-image" onchange="previewImage(event)" />
                                Hình ảnh <i class="fa-solid fa-arrow-up-from-bracket"></i>
                            </label>
                        </div>
                        <div class="form-group-add">
                            <label for="product-add__state" class="control-label">Trạng thái</label>
                            <select class="control-input" name="product-add__state" id="product-add__state">
                                <option>Chọn tình trạng</option>
                                <option value="1">Còn hàng</option>
                                <option value="0">Hết hàng</option>
                            </select>
                        </div>
                        <div class="product-add-btn">
                            <input type="submit" value="Thêm" name="product-add" id="product-add">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    *@
  
    <script src="~/Content/asset/main.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
