@model WebBanHang.Models.SAN_PHAM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SAN_PHAM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TEN_SP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_SP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MO_TA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MO_TA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HINH_ANH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HINH_ANH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRANG_THAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANG_THAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOAI_SAN_PHAM.TEN_LOAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAI_SAN_PHAM.TEN_LOAI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MA_SP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
