@model IEnumerable<WebBanHang.Models.QUAN_TRI>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAT_KHAU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRANG_THAI)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MAT_KHAU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRANG_THAI)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TAI_KHOAN }) |
            @Html.ActionLink("Details", "Details", new { id=item.TAI_KHOAN }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TAI_KHOAN })
        </td>
    </tr>
}

</table>
